<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamrocket.infotracker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MemoryData" >
        </activity>
        <activity android:name=".CPUData" >
        </activity>
        <activity android:name=".BatteryData" >
        </activity>
        <activity android:name=".EnergyOptimization" >
        </activity>
        <activity android:name=".ThreadOptimization" >
        </activity>
        <activity android:name=".JobOptimization" >
        </activity>
    </application>

</manifest>
